@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,700&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
  row-gap: 1rem;
}

.search {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: .5rem;
}

.svg {
  width: 2rem;
  height: 2rem;
}

.search input {
  background-color: #e0e7f0;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  outline: none;
  padding: .2rem .5rem;
}

.header__list {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}

.header__list img {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}

.header__perfil {
  display: grid;
  grid-template-columns: 4rem 1fr;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.header__perfil p:first-of-type {
  font-weight: 300;
}

.header__perfil p:last-of-type {
  font-weight: 700;
  font-size: 1.2rem;
}

.header__perfil img {
  height: 4rem;
  width: 100%;
  border-radius: 50%;
}

.header__lista ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.header__lista button {
  background-color: #008cd4;
  color: white;
  padding: .5rem 2rem;
  border-radius: 15px;
  font-weight: 700;
}